$background-light: #F0F0F0;

$accent-1-bold: #FF00AE;

$bottom-ticker-height: 120px;

$accent-gradient: linear-gradient(to top, #A02FBA 0%, #C969AB 100%);
$accent-gradient-left: linear-gradient(to left, rgb(155, 42, 191) 0%, rgb(207, 100, 180) 100%);
$accent-gradient-right: linear-gradient(to right, rgb(155, 42, 191) 0%, rgb(207, 100, 180) 100%);
