@font-face {
    font-family: 'Haverbrooke';
    font-weight: 400;
    src: url('../assets/fonts/Haverbrooke.otf');
}

@font-face {
    font-family: 'Haverbrooke Hollow';
    font-weight: 400;
    src: url('../assets/fonts/Haverbrooke Hollow.otf');
}

body {
    font-family: 'Blinker', 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
