@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Blinker';
    src: url('../assets/fonts/Blinker-Regular.ttf');
}

@font-face {
    font-family: 'Haverbrooke';
    font-weight: 400;
    src: url('../assets/fonts/Haverbrooke.otf');
}

@font-face {
    font-family: 'Haverbrooke Hollow';
    font-weight: 400;
    src: url('../assets/fonts/Haverbrooke Hollow.otf');
}

// Annoying workaround to make this font always extrabold even if other fallback fonts aren't
@font-face {
    font-family: 'Noto Sans JP ExtraBold';
    src: url('../assets/fonts/NotoSansJP-ExtraBold.ttf');
}

body {
    font-family: 'Blinker', 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.color-neutral {
    color: #0073E6;
}

.color-alpha {
    color: #E0A000;
}

.color-bravo {
    color: #A032DB;
}
