@mixin font-barlow-condensed {
    font-family: 'Barlow Condensed', 'Noto Sans JP', sans-serif;
    text-rendering: geometricPrecision;
}

@mixin font-barlow {
    font-family: 'Barlow', 'Noto Sans JP', sans-serif;
}
